<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{static/include :: head}"></head>
<head>
	<style>
 			footer {
				 font-size: smaller;
				 font-style: italic;
				 text-decoration: blue;
			 }
 		</style>			 
</head>
<body>
	<header th:replace="~{static/include :: header}"></header>
	<div class="container">
	<h1 class="text-primary" th:text="${tituloH1}"></h1></div>
	<br/>
	<p th:if="${usuario==null}" th:text="'No hay usuario con el id ' + ${idSolicitado}"></p>
	<ul th:if="${usuario!=null}">
		<li th:text="'Id: ' + ${usuario.id}"></li>
		<li th:text="'Nombre: ' + ${usuario.name}"></li>
		<li th:text="'DNI/NIE: ' + ${usuario.numeroId}"></li>
		<li th:text="'Número de teléfono: ' + ${usuario.phone}"></li>
	</div>
	<br/>	
</body>
<footer th:replace="~{static/include :: footer}" ></footer>
</html>